{% extends "master/master.html" %}
{% block title %}Detalle Taller{% endblock %}
{% block content %}
    <script type="text/javascript" src="/static/js/taller.js"></script>
    {% if mapeo == "detalleTaller" %}
        <!-- Breadcrumbs-->
        <div class="row">
            <div class="col-11">
                <ol class="breadcrumb">        
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('pages_home') }}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('listado_talleres') }}">Listado Talleres</a> 
                    </li>
                    <li class="breadcrumb-item"></li>
                        <form action = "{{ url_for('taller_detalle') }}" method="POST" id="myform">
                            <input type="hidden" name="clid" value="0">
                            <input type="hidden" name="id" value="{{tallerId}}">
                            <input type="hidden" name="mapeo" value="listadoTaller">
                            <a href="#" onclick="document.getElementById('myform').submit()">Detalle Taller</a>              
                        </form> 
                    <li class="breadcrumb-item"></li>              
                    <li class="breadcrumb-item active">Ver Asistencias</li>       
                </ol>
            </div>
            <div class="col-1">
                <form action = "{{ url_for('taller_detalle') }}" method="POST">
                    <input type="hidden" name="clid" value="0">
                    <input type="hidden" name="id" value="{{tallerId}}">
                    <input type="hidden" name="mapeo" value="listadoTaller">
                    <button class="btn btn-info" type="submit">Volver</button>             
                </form> 
            </div>
        </div>
        
    {% elif mapeo == "detalleTallerCiclo" %}
    <!-- Breadcrumbs-->
    <div class="row">
        <div class="col-11">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('pages_home') }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('listado_ciclos') }}">Listado Ciclos Lectivos</a>
            </li>
            <li class="breadcrumb-item"></li>
                <form action = "{{ url_for('ciclo_detalle') }}" method="POST" id="myform">
                    <input type="hidden" name="clid" value="{{clid}}">
                    <a href="#" onclick="document.getElementById('myform').submit()">Detalle Ciclo Lectivo</a>
                </form>
            </li>
            <li class="breadcrumb-item"></li>
            <li class="breadcrumb-item"></li>
                <form action = "{{ url_for('taller_detalle') }}" method="POST" id="myform2">
                    <input type="hidden" name="clid" value="0">
                    <input type="hidden" name="id" value="{{tallerId}}">
                    <input type="hidden" name="mapeo" value="detalleCiclo">
                    <a href="#" onclick="document.getElementById('myform2').submit()">Detalle Taller</a>              
                </form> 
            </li>
            <li class="breadcrumb-item"></li>
            <li class="breadcrumb-item active">Ver asistencias</li>
        </ol>
    </div>
    <div class="col-1">
        <form action = "{{ url_for('taller_detalle') }}" method="POST">
            <input type="hidden" name="clid" value="0">
            <input type="hidden" name="id" value="{{tallerId}}">
            <input type="hidden" name="mapeo" value="listadoTaller">
            <button class="btn btn-info pull-right" type="submit">Volver</button>             
        </form> 
        
    </div>
</div>
    {% endif %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



    <!-- -----------------------------------------CRONOGRAMA---------------------------------------- -->

    <div style="text-align: center">
        <h2>Asistencias</h2>
        <br>
    </div>
{%  if (clases is defined) and (clases | length > 0)    %}
        <form action="{{ url_for('ver_asistencias') }}" method="POST" id="formVerAsistencia">
            <div class="modal-body">
                <div class="form-group">
                    <select name="idlog" id="idlog">
                        <option value="0">Seleccione una clase</option>
                        {%  for clase in clases %}
                            {% if (claseSeleccionada is defined) and ((clase.idlog | string) == claseSeleccionada) %}
                            <option value="{{clase.idlog}}" selected>{{clase.diaclase}} {{clase.iniclase }} {{clase.finclase}} {{clase.fechalog}}</option>
                            {% else %}
                            <option value="{{clase.idlog}}">{{clase.diaclase}} {{clase.iniclase }} {{clase.finclase}} {{clase.fechalog}}</option>
                            {% endif %}
                        {%  endfor  %}
                    </select>
                    <input type="hidden" name="idtaller" value="{{tallerId}}">
                    {% if mapeo == "detalleTaller" %}
                        <input type="hidden" name="mapeo" value="detalleTaller">
                        <input type="hidden" name="clid" value="0">
                    {%  elif mapeo == "detalleTallerCiclo"  %}
                        <input type="hidden" name="mapeo" value="detalleTallerCiclo">
                        <input type="hidden" name="clid" value="{{clid}}">
                    {%  endif   %}
                    <input type="button" class="btn btn-info" onclick="validarVerAistencia()" value="Ver Asistencias">                    
                </div> 
                <span style="color:red" id="spanClase"></span>
            </div> 
        </form>
    {%  if funcion is defined   %}
        <table class="table table-striped table-hover" id="tablaAsistencias">
            <thead>
            <tr class="row">
                <th class="col-2">Fecha</th>
                <th class="col-3">Nombre <a onclick="sortTable(1)"><i class="fa fa-fw fa-sort"></i></a></th>
                <th class="col-3">Apellido <a onclick="sortTable(2)"><i class="fa fa-fw fa-sort"></i></a></th>
                <th class="col-2">Documento</th>
                <th class="col-2">Presente <a onclick="sortTable(4)"><i class="fa fa-fw fa-sort"></i></a></th>
            </trclass="row">
            </thead>
            <tbody>
                {%  for asistencia in asistencias   %}
                <tr class="row">
                    <td class="col-2">{{asistencia.fecha}}</td>
                    <td class="col-3">{{asistencia.estudiante_nombre}}</td>
                    <td class="col-3">{{asistencia.estudiante_apellido}}</td>
                    <td class="col-2">{{asistencia.estudiante_documento}}</td>
                    <td class="col-2">{%  if asistencia.presente == 1  %} 
                            Presente 
                        {%  else    %} 
                            Ausente 
                        {%   endif   %}</td>
                </tr> 
                {%  endfor  %}
            </tbody>
        </table>
    {%  endif   %}
{% else %}
    <!--empty state de búsqueda-->
    <div class="container d-flex justify-content-center align-items-center empty-state-home ">
        <div class="empty-search text-center">
        <label class="empty-txt">No se encontraron clases asignadas</label>
        <img src="{{ url_for('static', filename='img/empty-search.png') }}" class="img-fluid mx-auto d-block img-empty" width="150px" alt="empty-search">
        </div>
    </div>
{% endif %}

<script>

var controlNombre = false;
var controlApellido = false;
var controlPresente = false;

function sortTable(column) {
    var asc = true;
    if (column == 1){
        controlNombre = !controlNombre;
        asc = controlNombre;
    }else{
        if(column==2){
            controlApellido = !controlApellido;
            asc = controlApellido;
        }else{
            if (column==4){
                controlPresente = !controlPresente;
                asc = controlPresente;
            }
        }
    }
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("tablaAsistencias");
    switching = true;
    res = false;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[column];
            y = rows[i + 1].getElementsByTagName("TD")[column];

            if(asc){
                res = x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase();
            }else{
                res = x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase();
            }
            if (res) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        }
    }
}

</script>

{% endblock %}
